@charset "UTF-8";
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

body {
  position: relative;
  font-size: 13px;
  margin: 0;
  font-family: "OpenSans", sans-serif;
  color: #222; }

a {
  text-decoration: none;
  color: #222; }
  a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
    color: #3e78c0; }

img {
  height: auto;
  max-width: 100%;
  border: none; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.employer:after {
  content: '';
  display: table;
  clear: both; }

/* style of input */
input::-moz-placeholder {
  color: #222;
  font-weight: 700; }

input::-webkit-input-placeholder {
  color: #222;
  font-weight: 700; }

input:-ms-input-placeholder {
  opacity: 1; }

input::placeholder {
  opacity: 1; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
textarea {
  background: #fff;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 7px 12px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px #e0e0e0;
  color: #222222;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-weight: 700; }

/* End style of input */
button {
  border: none;
  background-color: transparent;
  outline: none; }

.btn-def {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 10px 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border: none;
  text-transform: uppercase; }
  .btn-def.green {
    background: #1fa772; }
  .btn-def.yellow {
    background: #ffbb38; }

.option {
  position: relative;
  padding-left: 25px; }
  .option label {
    position: relative;
    cursor: pointer;
    font-size: 11px; }
    .option label span {
      padding-top: 1px;
      display: inline-block; }
  .option input[type="checkbox"] {
    display: none; }
  .option input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left: -25px;
    top: 1px;
    width: 18px;
    height: 18px;
    border: solid 1px #e0e0e0;
    outline: none;
    padding: 0;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer; }
  .option input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: -21px;
    top: 5px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background: #e0e0e0; }

/**Убрать стрелочки у number**/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type='number'] {
  -moz-appearance: textfield; }

/**End Убрать стрелочки у number**/
/*________header________*/
.header {
  background: #19233c;
  padding: 21px 0;
  color: #fff; }
  .header .shell-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .shell-wrapper .view {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .shell-wrapper .view:nth-child(1) {
        -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
                flex-basis: 50%; }
      .header .shell-wrapper .view:nth-child(2) {
        -webkit-flex-basis: 44%;
            -ms-flex-preferred-size: 44%;
                flex-basis: 44%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
  .header .logo {
    margin-right: 50px;
    width: 110px; }
  .header .menu-header ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .menu-header a {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 9px 23px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
    .header .menu-header a.active {
      background: #1fa772; }
      .header .menu-header a.active:before {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #1fa772 transparent transparent transparent; }
  .header .menu-header a:hover {
    background: #1fa772; }
    .header .menu-header a:hover:before {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #1fa772 transparent transparent transparent; }
  .header .menu-header li:last-child {
    background: url(../img/icon-1.png);
    background-position: 5px 50%;
    background-repeat: no-repeat; }
    .header .menu-header li:last-child a {
      padding-left: 35px; }
      .header .menu-header li:last-child a:hover {
        background: url(../img/icon-1.png) #1fa772;
        background-position: 5px 50%;
        background-repeat: no-repeat; }
  .header .user-plan {
    display: inline-block;
    border: solid 1px rgba(255, 255, 255, 0.15);
    -webkit-border-radius: 50px;
            border-radius: 50px;
    padding: 7px 20px;
    color: #fff;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 220px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .user-plan i {
      font-style: normal; }
  .header .support, .header .user-menu {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    color: #fff; }
    .header .support span, .header .user-menu span {
      padding-left: 10px; }
  .header .user-menu span {
    padding: 0 10px; }

/*________End header________*/
.main-wrapper {
  background: #f0f1f5;
  padding-top: 40px; }

/*** .top-panel ***/
.main-wrapper .top-panel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px; }
  .main-wrapper .top-panel .currency-view {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 660px; }
    .main-wrapper .top-panel .currency-view a {
      position: relative;
      display: inline-block;
      font-size: 12px;
      text-transform: uppercase;
      color: #222;
      font-weight: 700;
      padding: 12px 16px;
      background: #fff;
      margin-right: 1px; }
    .main-wrapper .top-panel .currency-view li.selected a {
      background: #f0f1f5; }
      .main-wrapper .top-panel .currency-view li.selected a:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #1fa772; }
  .main-wrapper .top-panel .settings-view {
    background: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    height: 40px; }
    .main-wrapper .top-panel .settings-view .item {
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%;
      cursor: pointer; }
    .main-wrapper .top-panel .settings-view .favorites {
      min-width: 142px;
      border-right: solid 1px #e5e6eb; }
    .main-wrapper .top-panel .settings-view img {
      display: inline-block;
      padding: 0 10px; }
    .main-wrapper .top-panel .settings-view span {
      font-weight: 700;
      color: #222;
      font-size: 14px;
      padding: 0 5px 0 0; }

/*** End .top-panel ***/
/*** .panel-ratio ***/
.panel-ratio {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  margin-bottom: 10px; }
  .panel-ratio .item {
    position: relative;
    border-right: solid 1px #e5e6eb;
    width: 100px;
    background: #fff;
    text-align: center;
    cursor: pointer; }
    .panel-ratio .item:first-child {
      -webkit-border-top-left-radius: 5px;
              border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
              border-bottom-left-radius: 5px; }
    .panel-ratio .item:last-child {
      border-right: none;
      -webkit-border-top-right-radius: 5px;
              border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
              border-bottom-right-radius: 5px; }
  .panel-ratio span {
    display: block; }
  .panel-ratio .ratio-currency {
    font-weight: 700;
    padding: 6px 0;
    height: 30px;
    text-transform: uppercase;
    background: #fbfbfb; }
  .panel-ratio .ratio-number {
    padding: 6px 0;
    height: 30px;
    border-top: solid 1px #e5e6eb; }
  .panel-ratio .item.active .ratio-currency {
    background: #d8dae1; }
  .panel-ratio .item.active .ratio-number {
    background: #f0f1f5; }
  .panel-ratio .item.active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1fa772; }

/*** End .panel-ratio ***/
/***  .view-schedule ***/
.shell-schedule-sidebar {
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.view-schedule {
  background: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 20px 15px;
  width: 810px;
  margin-right: 10px; }
  .view-schedule .top-panel {
    font-size: 11px; }
    .view-schedule .top-panel span {
      padding-right: 20px; }
    .view-schedule .top-panel .red {
      color: #ff3840; }
    .view-schedule .top-panel .green {
      color: #3cbf8c; }
    .view-schedule .top-panel select {
      color: #3e78c0;
      border: none;
      outline: none;
      padding: 5px 15px 0px 0;
      background: transparent url(../img/arrow-top-blue.png) 100% 70% no-repeat;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-bottom: dashed 1px #3e78c0; }
  .view-schedule .time-server {
    margin-left: 20px;
    padding-right: 0; }
  .view-schedule .view-schedule {
    width: 810px; }
  .view-schedule .schedule-main {
    max-width: 770px; }

/***  End .view-schedule ***/
.view-sidebar {
  width: 320px; }
  .view-sidebar .nav-tabs {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: none;
    left: 10px; }
    .view-sidebar .nav-tabs:before {
      content: '';
      position: absolute;
      left: -10px;
      top: 0;
      background: #e5e6eb;
      width: 20%;
      height: 42px; }
    .view-sidebar .nav-tabs li {
      position: relative;
      float: none;
      padding: 12px 17px;
      cursor: pointer;
      font-weight: 700;
      text-transform: uppercase; }
      .view-sidebar .nav-tabs li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #e5e6eb;
        -webkit-transform: skew(25deg);
            -ms-transform: skew(25deg);
                transform: skew(25deg);
        -webkit-border-radius: 5px;
                border-radius: 5px;
        border-radius: 5px; }
      .view-sidebar .nav-tabs li span {
        position: relative;
        z-index: 1; }
    .view-sidebar .nav-tabs li.selected:before {
      background: #fff; }
  .view-sidebar .nav-tabs.before:before {
    background: #fff; }
  .view-sidebar .main-container-tabs .tab {
    display: none; }
  .view-sidebar .form-conversion {
    background: #fff;
    padding: 20px 25px 10px 25px; }
    .view-sidebar .form-conversion .view {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .view-sidebar .form-conversion .view .form-group {
        width: 125px; }
        .view-sidebar .form-conversion .view .form-group .shell {
          position: relative; }
        .view-sidebar .form-conversion .view .form-group .name {
          font-size: 13px;
          margin-bottom: 12px; }
        .view-sidebar .form-conversion .view .form-group input[type='number'] {
          padding-right: 40px; }
        .view-sidebar .form-conversion .view .form-group .txt {
          color: #000;
          font-size: 13px;
          font-weight: 700;
          color: #d8d9db;
          text-transform: uppercase;
          position: absolute;
          right: 15px;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
    .view-sidebar .form-conversion .form-group-submit {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .view-sidebar .form-conversion .total span {
      padding-right: 20px; }

.view-sidebar .balance-block {
  position: relative;
  width: 320px;
  background: #fff;
  margin-top: 10px;
  padding: 20px 0; }
  .view-sidebar .balance-block:before {
    content: '';
    position: absolute;
    top: 0;
    right: 16px;
    height: 100%;
    width: 1px;
    z-index: 1;
    background: #f0f1f5; }
  .view-sidebar .balance-block .top-panel {
    padding-left: 15px;
    padding-right: 15px; }
    .view-sidebar .balance-block .top-panel .title {
      font-size: 14px; }
    .view-sidebar .balance-block .top-panel .time-date span {
      padding: 0 5px;
      font-weight: 700;
      font-size: 11px; }
  .view-sidebar .balance-block .pre-panel {
    padding-left: 15px;
    padding-right: 55px;
    font-weight: 700;
    font-size: 10px;
    margin: 20px 0 12px 0;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .view-sidebar .balance-block .item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6px 35px 6px 15px;
    border-top: solid 1px #f0f1f5;
    margin-right: 20px; }
  .view-sidebar .balance-block .data-view {
    max-height: 150px;
    overflow: hidden; }
  .view-sidebar .balance-block .descript {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .view-sidebar .balance-block .descript .icon {
      margin-right: 5px;
      width: 22px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .view-sidebar .balance-block .name {
    font-weight: 700;
    font-size: 13px;
    color: #28292b; }
  .view-sidebar .balance-block .balance {
    font-size: 11px;
    color: #28292b;
    width: 40px;
    text-align: left;
    font-size: 11px; }

.orders-shell {
  background: #fff;
  width: 605px;
  height: 410px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .orders-shell .top-panel {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 25px; }
    .orders-shell .top-panel .option label {
      font-weight: normal; }
    .orders-shell .top-panel .nav-tabs {
      padding: 15px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: none; }
      .orders-shell .top-panel .nav-tabs li {
        font-size: 14px;
        font-weight: 700;
        float: none;
        margin-right: 10px;
        cursor: pointer; }
        .orders-shell .top-panel .nav-tabs li.selected {
          color: #3e78c0;
          border-bottom: dashed 1px #3e78c0; }
  .orders-shell .table-wrapper table {
    width: 100%; }
    .orders-shell .table-wrapper table thead {
      border-bottom: solid 1px #e5e6eb; }
      .orders-shell .table-wrapper table thead th {
        text-transform: uppercase;
        font-size: 10px; }
    .orders-shell .table-wrapper table tr td,
    .orders-shell .table-wrapper table tr th {
      padding: 5px 15px; }
      .orders-shell .table-wrapper table tr td:nth-child(3),
      .orders-shell .table-wrapper table tr th:nth-child(3) {
        width: 200px; }
  .orders-shell .main-container-tabs .tab {
    display: none; }
  .orders-shell .not-information {
    padding-top: 18%; }
    .orders-shell .not-information .txt {
      color: #000;
      font-size: 14px;
      color: #c8c8c8;
      font-weight: 700;
      text-align: center; }
    .orders-shell .not-information .icon {
      text-align: center;
      margin-bottom: 30px; }

.panel-order {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  height: 400px;
  overflow: hidden; }
  .panel-order .order-view {
    position: relative;
    width: 255px;
    background: #fff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    padding: 17px 0; }
    .panel-order .order-view:before {
      content: '';
      position: absolute;
      top: 0;
      right: 16px;
      height: 100%;
      width: 1px;
      z-index: 1;
      background: #f0f1f5; }
    .panel-order .order-view .title {
      color: #222;
      font-size: 14px;
      font-weight: 700;
      padding-left: 15px; }
    .panel-order .order-view .table-wrapper {
      padding-top: 10px; }
      .panel-order .order-view .table-wrapper .tbodys {
        height: 300px;
        padding-right: 20px; }
      .panel-order .order-view .table-wrapper table {
        width: 100%; }
        .panel-order .order-view .table-wrapper table th {
          text-transform: uppercase;
          font-size: 10px;
          padding: 9px 0;
          text-align: left; }
          .panel-order .order-view .table-wrapper table th:nth-child(1) {
            padding-left: 15px;
            width: 42%; }
        .panel-order .order-view .table-wrapper table tbody tr {
          border-bottom: solid 1px #e0e0e0; }
        .panel-order .order-view .table-wrapper table tbody td {
          padding: 9px; }
        .panel-order .order-view .table-wrapper table tbody td:nth-child(1) {
          font-weight: 700;
          padding-left: 15px; }

.mCSB_outside + .mCSB_scrollTools {
  right: 0; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #d3d4da;
  width: 4px;
  opacity: 1; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #d3d4da; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

/*________MAIN	PAGE________*/
/*________End MAIN	PAGE________*/
